<div class="about-container">
  <div class="profile-picture">
    <img src="assets/profile.png" alt="Profile Picture" />
  </div>
  <div class="about-text">
    <p>Hello and welcome to my portfolio!</p>
    <p>
      My name is Ioannis and I’m a Software Engineer with almost a decade of experience in providing software solutions with cutting-edge technologies,
      following SOLID Principles and Clean-Code techniques.
    </p>
    <p>
      Even though frontend was the area where I took my first steps, I've gained most of my experience while working on backend roles. As a member of java-based projects,
      I had the opportunity to learn this technology in depth. Being also a communicative person, I've developed the ability of sharing and receiving knowledge in the most productive way.
    </p>
    <p>
      Considering commitment and motivation as my strongest skills, I've contributed to the success of various projects,
      ranging from website development and microservices architecture to CMS implementation and test-driven development methodologies.
    </p>
    <p>
      Driven by a passion for continuous improvement, I'm constantly looking for best practices in new trends and technologies.
    </p>
    <a href="assets/IIoannis Koinaris-Resume.pdf" download="Ioannis Koinaris-Resume" class="download-btn">
      Download Resume
    </a>
  </div>
</div>
