<header>
  <nav>
    <ul class="nav-items">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/skills">Skills</a></li><!--
      <li><a routerLink="/contact">Contact</a></li>-->
    </ul>
    <div class="hamburger-menu" (click)="toggleMenu()">
      &#9776;
    </div>
    <div class="mobile-menu" [class.active]="menuOpen">
      <ul>
        <li><a routerLink="/" (click)="toggleMenu()">Home</a></li>
        <li><a routerLink="/about" (click)="toggleMenu()">About</a></li>
        <li><a routerLink="/skills" (click)="toggleMenu()">Skills</a></li><!--
        <li><a routerLink="/contact" (click)="toggleMenu()">Contact</a></li>-->
      </ul>
    </div>
  </nav>
</header>
<div class="social-sidebar" [class.expanded]="sidebarExpanded" (mouseover)="expandSidebar()" (mouseleave)="collapseSidebar()">
  <a *ngFor="let media of socialMedia" [href]="media.link" target="_blank" class="social-link">
    <img [src]="media.icon" [alt]="media.name" class="social-icon" />
  </a>
</div>
<router-outlet></router-outlet>
