<div class="services-container">
    <div class="service">
      <div class="service-image">
        <img src="assets/gigs/microservice_development_gig.png" alt="Gig 1 Preview">
      </div>
      <div class="service-text">
        <h2>Application Development with Java in SpringBoot</h2>
        <p>
            When it comes to software development, monolithic architecture belongs to the past and more and more projects adapt the microservices approach.
            Flexibility, velocity and availability are strong factors to be easily ignored.
        </p>
        <a href="https://www.fiverr.com/s/vv7RqqW" class="fiverr-link" target="_blank">Show Gig</a>
      </div>
    </div>
  
    <div class="service">
      <div class="service-image">
        <img src="assets/gigs/java_course_gig.png" alt="Gig 2 Preview">
      </div>
      <div class="service-text">
        <h2>Java Course: Basic to Advance</h2>
        <p>
            Are you beginning your journey or aiming to extend you knowledge in Java programming?
            Do you study in the field of IT and need support with Java papers?
            Then I'm here for you!
        </p>
        <a href="https://www.fiverr.com/s/6Y2AkyX" class="fiverr-link" target="_blank">Show Gig</a>
      </div>
    </div>
  </div>
  